2nd project for the bloc 1 of the Jedha certification of data science & engineering.
Author : Youenn Patat

![Kayak](https://seekvectorlogo.com/wp-content/uploads/2018/01/kayak-vector-logo.png)

The list of cities than we will focus ourselves:
```python 
["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]
```

# Part 1 - Get the weather and localisation with API

The two different APIs used: 
*   https://nominatim.org/ to get the gps coordinates of all the cities (no subscription required) Documentation : https://nominatim.org/release-docs/develop/api/Search/

*   https://openweathermap.org/appid (you have to subscribe to get a free apikey) and https://openweathermap.org/api/one-call-api to get some information about the weather for the 35 cities and put it in a DataFrame

In [1]:
import requests
import pandas as pd
import json

1rst test with just the Mont Saint Michel

In [65]:
url = "https://nominatim.openstreetmap.org/search?q="
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
r = requests.get(url+"Mont+Saint+Michel&format=json", headers=headers)
r

In [66]:
r.content

b'[{"place_id":263784127,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"way","osm_id":211285890,"lat":"48.6359541","lon":"-1.511459954959514","class":"tourism","type":"attraction","place_rank":30,"importance":0.4723710249003365,"addresstype":"tourism","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Grande Terrasse de l\'Ouest, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France m\xc3\xa9tropolitaine, 50170, France","boundingbox":["48.6349172","48.6370310","-1.5133292","-1.5094796"]},{"place_id":336593560,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"relation","osm_id":7360493,"lat":"46.7798558","lon":"-75.336261","class":"boundary","type":"administrative","place_rank":16,"importance":0.385753379319255,"addresstype":"village","name":"Mont-Saint-Michel","display_name":"Mont-Saint-Michel, Antoine-Labelle, Laurentides, Qu\xc3\xa9bec, J0W 1P0, Canada","boundingbox":["46.7308335","46.9105744","-75.4379111","-75.1592812"]},{"place_id":110424513,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":1725899227,"lat":"48.7751621","lon":"7.3628623","class":"tourism","type":"attraction","place_rank":30,"importance":0.2560520753862706,"addresstype":"tourism","name":"Mont Saint-Michel (Alsace)","display_name":"Mont Saint-Michel (Alsace), Chemin d\'Ernolsheim, Saint-Jean-Saverne, Saverne, Bas-Rhin, Grand Est, France m\xc3\xa9tropolitaine, 67700, France","boundingbox":["48.7751121","48.7752121","7.3628123","7.3629123"]},{"place_id":110009073,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":11981568929,"lat":"48.690668","lon":"5.8818463","class":"natural","type":"peak","place_rank":18,"importance":0.16006674219882505,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Toul, Meurthe-et-Moselle, Grand Est, France m\xc3\xa9tropolitaine, 54200, France","boundingbox":["48.6906180","48.6907180","5.8817963","5.8818963"]},{"place_id":110679439,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":11964639486,"lat":"48.7747476","lon":"7.359792","class":"natural","type":"peak","place_rank":18,"importance":0.16006415884641792,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Saint-Jean-Saverne, Saverne, Bas-Rhin, Grand Est, France m\xc3\xa9tropolitaine, 67700, France","boundingbox":["48.7746976","48.7747976","7.3597420","7.3598420"]},{"place_id":74322842,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":9581659906,"lat":"43.897709","lon":"7.3644173","class":"natural","type":"peak","place_rank":18,"importance":0.16005805981536583,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Luc\xc3\xa9ram, Nice, Alpes-Maritimes, Provence-Alpes-C\xc3\xb4te d\'Azur, France m\xc3\xa9tropolitaine, 06440, France","boundingbox":["43.8976590","43.8977590","7.3643673","7.3644673"]},{"place_id":74827939,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":1581196576,"lat":"43.8496443","lon":"7.0938927","class":"natural","type":"peak","place_rank":18,"importance":0.16005770580605783,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Les Ferres, Grasse, Alpes-Maritimes, Provence-Alpes-C\xc3\xb4te d\'Azur, France m\xc3\xa9tropolitaine, 06510, France","boundingbox":["43.8495943","43.8496943","7.0938427","7.0939427"]},{"place_id":337625045,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":1872758730,"lat":"46.3000984","lon":"-74.3987549","class":"natural","type":"peak","place_rank":18,"importance":0.16005192568856336,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Saint-Donat, Matawinie, Lanaudi\xc3\xa8re, Qu\xc3\xa9bec, Canada","boundingbox":["46.3000484","46.3001484","-74.3988049","-74.3987049"]},{"place_id":337560293,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":5251907729,"lat":"46.0539982","lon":"-71.8872247","class":"natural","type":"peak","place_rank":18,"importance":0.16004719844357976,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Saint-Christophe-d\'Arthabaska, Arthabaska, Centre-du-Qu\xc3\xa9bec, Qu\xc3\xa9bec, G6S 1J1, Canada","boundingbox":["46.0539482","46.0540482","-71.8872747","-71.8871747"]},{"place_id":262161978,"licence":"Data \xc2\xa9 OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright","osm_type":"node","osm_id":5972710523,"lat":"48.6360211","lon":"-1.5114947","class":"natural","type":"peak","place_rank":18,"importance":0.1600350019073777,"addresstype":"peak","name":"Mont Saint-Michel","display_name":"Mont Saint-Michel, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France m\xc3\xa9tropolitaine, 50170, France","boundingbox":["48.6359711","48.6360711","-1.5115447","-1.5114447"]}]'

In [79]:
r.json()[0]

{'place_id': 263784127,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 211285890,
 'lat': '48.6359541',
 'lon': '-1.511459954959514',
 'class': 'tourism',
 'type': 'attraction',
 'place_rank': 30,
 'importance': 0.4723710249003365,
 'addresstype': 'tourism',
 'name': 'Mont Saint-Michel',
 'display_name': "Mont Saint-Michel, Grande Terrasse de l'Ouest, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France métropolitaine, 50170, France",
 'boundingbox': ['48.6349172', '48.6370310', '-1.5133292', '-1.5094796']}

In [99]:
coordinates = {key: value for key, value in r.json()[0].items() if 'lat' in key or 'lon' in key or 'name' in key}
del coordinates['display_name']
coordinates

{'lat': '48.6359541', 'lon': '-1.511459954959514', 'name': 'Mont Saint-Michel'}

It works !!! We obtained the `json` of informations.

In [193]:
coordinates.keys()

dict_keys(['lat', 'lon', 'name'])

In [194]:
#test
df2 = pd.DataFrame(columns = coordinates.keys())
df2 = df2.rename(columns={'lat':'Latitude', 'lon':'Longitude', 'name':'Name'})
display(df2)
df2.loc[0] = coordinates.values()
display(df2)

Empty DataFrame
Columns: [Latitude, Longitude, Name]
Index: []

    Latitude   Longitude         Name
0  46.159732  -1.1515951  La Rochelle

In [165]:
df = pd.DataFrame(columns = coordinates.keys())
#df = df.rename(columns={'lat':'Latitude', 'lon':'Longitude', 'name':'Name'})
df

Empty DataFrame
Columns: [lat, lon, name]
Index: []

Now we will loop with all the city names.

In [112]:
cities_list = ["Mont+Saint+Michel", "St+Malo", "Bayeux", "Le+Havre", "Rouen", "Paris", "Amiens", "Lille", "Strasbourg", "Chateau+du+Haut+Koenigsbourg", "Colmar",
"Eguisheim", "Besancon", "Dijon", "Annecy", "Grenoble", "Lyon", "Gorges+du+Verdon", "Bormes+les+Mimosas", "Cassis", "Marseille", "Aix+en+Provence",
"Avignon", "Uzes", "Nimes", "Aigues+Mortes", "Saintes+Maries+de+la+mer", "Collioure", "Carcassonne", "Ariege", "Toulouse", "Montauban", "Biarritz",
"Bayonne", "La+Rochelle"]

In [177]:
url = "https://nominatim.openstreetmap.org/search?q="
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
q = requests.get(url+cities_list[0]+"&format=json", headers=headers)
q

In [ ]:
url = "https://nominatim.openstreetmap.org/search?q="
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
for i in range(len(cities_list)):
    r = requests.get(url+cities_list[i]+"&format=json", headers=headers)
    print("{} city done".format(i+1), r)
    coordinates = {key: value for key, value in r.json()[0].items() if key in ['lat', 'lon', 'name']}
    df.loc[i] = coordinates

1 city done <Response [200]>
2 city done <Response [200]>
3 city done <Response [200]>
4 city done <Response [200]>
5 city done <Response [200]>
6 city done <Response [200]>
7 city done <Response [200]>
8 city done <Response [200]>
9 city done <Response [200]>
10 city done <Response [200]>
11 city done <Response [200]>
12 city done <Response [200]>
13 city done <Response [200]>
14 city done <Response [200]>
15 city done <Response [200]>
16 city done <Response [200]>
17 city done <Response [200]>
18 city done <Response [200]>
19 city done <Response [200]>
20 city done <Response [200]>
21 city done <Response [200]>
22 city done <Response [200]>
23 city done <Response [200]>
24 city done <Response [200]>
25 city done <Response [200]>
26 city done <Response [200]>
27 city done <Response [200]>
28 city done <Response [200]>
29 city done <Response [200]>
30 city done <Response [200]>
31 city done <Response [200]>
32 city done <Response [200]>
33 city done <Response [200]>
34 city done <Response [200]>
35 city done <Response [200]>

In [216]:
df = df.rename(columns={'lat':'Latitude', 'lon':'Longitude', 'name':'Name'})
df.head()

     Latitude           Longitude               Name
0  48.6359541  -1.511459954959514  Mont Saint-Michel
1   48.649518          -2.0260409         Saint-Malo
2  49.2764624          -0.7024738             Bayeux
3  49.4938975           0.1079732           Le Havre
4  49.4404591           1.0939658              Rouen

In [224]:
df.to_csv("cities_localisation.csv", index=False, encoding="utf-8")
df.to_json("city_localisation.json", orient="records", indent=4)

In [226]:
df2 = pd.read_json("city_localisation.json")
display(df2.head())

df3 = pd.read_csv("cities_localisation.csv")
df3.head()

    Latitude  Longitude               Name
0  48.635954  -1.511460  Mont Saint-Michel
1  48.649518  -2.026041         Saint-Malo
2  49.276462  -0.702474             Bayeux
3  49.493898   0.107973           Le Havre
4  49.440459   1.093966              Rouen

    Latitude  Longitude               Name
0  48.635954  -1.511460  Mont Saint-Michel
1  48.649518  -2.026041         Saint-Malo
2  49.276462  -0.702474             Bayeux
3  49.493898   0.107973           Le Havre
4  49.440459   1.093966              Rouen

# Part 2 - Get the hotels infos with the web scraping

The web scraping will be done on Booking https://www.booking.com/index.fr.html

Informations to scrape:
*   hotel name,
*   Url to its booking.com page,
*   Its coordinates: latitude and longitude
*   Score given by the website users
*   Text description of the hotel