2nd project for the bloc 1 of the Jedha certification of data science & engineering.
Author : Youenn Patat

![Kayak](https://seekvectorlogo.com/wp-content/uploads/2018/01/kayak-vector-logo.png)

The list of cities than we will focus ourselves:
```python 
["Mont Saint Michel",
"St Malo",
"Bayeux",
"Le Havre",
"Rouen",
"Paris",
"Amiens",
"Lille",
"Strasbourg",
"Chateau du Haut Koenigsbourg",
"Colmar",
"Eguisheim",
"Besancon",
"Dijon",
"Annecy",
"Grenoble",
"Lyon",
"Gorges du Verdon",
"Bormes les Mimosas",
"Cassis",
"Marseille",
"Aix en Provence",
"Avignon",
"Uzes",
"Nimes",
"Aigues Mortes",
"Saintes Maries de la mer",
"Collioure",
"Carcassonne",
"Ariege",
"Toulouse",
"Montauban",
"Biarritz",
"Bayonne",
"La Rochelle"]
```

# Part 1 - Get the weather and localisation with API

The two different APIs used: 
*   https://nominatim.org/ to get the gps coordinates of all the cities (no subscription required) Documentation : https://nominatim.org/release-docs/develop/api/Search/

*   https://openweathermap.org/appid (you have to subscribe to get a free apikey) and https://openweathermap.org/api/one-call-api to get some information about the weather for the 35 cities and put it in a DataFrame

In [1]:
import requests
import pandas as pd
import json

1rst test with just the Mont Saint Michel

In [65]:
url = "https://nominatim.openstreetmap.org/search?q="
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
r = requests.get(url+"Mont+Saint+Michel&format=json", headers=headers)
r

In [79]:
r.json()[0]

{'place_id': 263784127,
 'licence': 'Data ¬© OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 211285890,
 'lat': '48.6359541',
 'lon': '-1.511459954959514',
 'class': 'tourism',
 'type': 'attraction',
 'place_rank': 30,
 'importance': 0.4723710249003365,
 'addresstype': 'tourism',
 'name': 'Mont Saint-Michel',
 'display_name': "Mont Saint-Michel, Grande Terrasse de l'Ouest, Le Mont-Saint-Michel, Avranches, Manche, Normandie, France m√©tropolitaine, 50170, France",
 'boundingbox': ['48.6349172', '48.6370310', '-1.5133292', '-1.5094796']}

In [99]:
coordinates = {key: value for key, value in r.json()[0].items() if 'lat' in key or 'lon' in key or 'name' in key}
del coordinates['display_name']
coordinates

{'lat': '48.6359541', 'lon': '-1.511459954959514', 'name': 'Mont Saint-Michel'}

It works !!! We obtained the `json` of informations.

In [193]:
coordinates.keys()

dict_keys(['lat', 'lon', 'name'])

In [165]:
df = pd.DataFrame(columns = coordinates.keys())
df

Empty DataFrame
Columns: [lat, lon, name]
Index: []

Now we will loop with all the city names.

In [72]:
cities_list = ["Mont+Saint+Michel", "St+Malo", "Bayeux", "Le+Havre", "Rouen", "Paris", "Amiens", "Lille", "Strasbourg", "Chateau+du+Haut+Koenigsbourg", "Colmar",
"Eguisheim", "Besancon", "Dijon", "Annecy", "Grenoble", "Lyon", "Gorges+du+Verdon", "Bormes+les+Mimosas", "Cassis", "Marseille", "Aix+en+Provence",
"Avignon", "Uzes", "Nimes", "Aigues+Mortes", "Saintes+Maries+de+la+mer", "Collioure", "Carcassonne", "Ariege", "Toulouse", "Montauban", "Biarritz",
"Bayonne", "La+Rochelle"]

In [ ]:
url = "https://nominatim.openstreetmap.org/search?q="
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
for i in range(len(cities_list)):
    r = requests.get(url+cities_list[i]+"&format=json", headers=headers)
    print("{} city done".format(i+1), r)
    coordinates = {key: value for key, value in r.json()[0].items() if key in ['lat', 'lon', 'name']}
    df.loc[i] = coordinates

1 city done <Response [200]>
2 city done <Response [200]>
3 city done <Response [200]>
4 city done <Response [200]>
5 city done <Response [200]>
6 city done <Response [200]>
7 city done <Response [200]>
8 city done <Response [200]>
9 city done <Response [200]>
10 city done <Response [200]>
11 city done <Response [200]>
12 city done <Response [200]>
13 city done <Response [200]>
14 city done <Response [200]>
15 city done <Response [200]>
16 city done <Response [200]>
17 city done <Response [200]>
18 city done <Response [200]>
19 city done <Response [200]>
20 city done <Response [200]>
21 city done <Response [200]>
22 city done <Response [200]>
23 city done <Response [200]>
24 city done <Response [200]>
25 city done <Response [200]>
26 city done <Response [200]>
27 city done <Response [200]>
28 city done <Response [200]>
29 city done <Response [200]>
30 city done <Response [200]>
31 city done <Response [200]>
32 city done <Response [200]>
33 city done <Response [200]>
34 city done <Response [200]>
35 city done <Response [200]>

In [216]:
df = df.rename(columns={'lat':'Latitude', 'lon':'Longitude', 'name':'Name'})
df.head()

     Latitude           Longitude               Name
0  48.6359541  -1.511459954959514  Mont Saint-Michel
1   48.649518          -2.0260409         Saint-Malo
2  49.2764624          -0.7024738             Bayeux
3  49.4938975           0.1079732           Le Havre
4  49.4404591           1.0939658              Rouen

In [224]:
df.to_csv("cities_localisation.csv", index=False, encoding="utf-8")
df.to_json("city_localisation.json", orient="records", indent=4)

In [4]:
df2 = pd.read_json("city_localisation.json")
display(df2.head())

df3 = pd.read_csv("cities_localisation.csv")
df3.head()

    Latitude  Longitude               Name
0  48.635954  -1.511460  Mont Saint-Michel
1  48.649518  -2.026041         Saint-Malo
2  49.276462  -0.702474             Bayeux
3  49.493898   0.107973           Le Havre
4  49.440459   1.093966              Rouen

    Latitude  Longitude               Name
0  48.635954  -1.511460  Mont Saint-Michel
1  48.649518  -2.026041         Saint-Malo
2  49.276462  -0.702474             Bayeux
3  49.493898   0.107973           Le Havre
4  49.440459   1.093966              Rouen

Now we will extract the informations about meteo with the second API.

Beginning with a test with one city.

In [2]:
import json
import pandas as pd
import boto3
from dotenv import load_dotenv
import os

load_dotenv()
weather_api_key = os.environ['WEATHER_API_KEY']

In [5]:
#https://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=b63df840e68ed1fabade0a250d87401b
lat = df3['Latitude'][0]
lon = df3['Longitude'][0]

#url = "https://api.openweathermap.org/data/2.5/weather?lat={}&lon={}&appid={}".format(lat, lon, weather_api_key) #for current daily weather
url = "https://api.openweathermap.org/data/2.5/forecast?lat={}&lon={}&appid={}&units=metric".format(lat, lon, weather_api_key) #for 5 days forecast
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
r = requests.get(url, headers=headers)
r

In [10]:
r.json()['list'][:3]

[{'dt': 1738486800,
  'main': {'temp': 1.62,
   'feels_like': -2.05,
   'temp_min': 1.62,
   'temp_max': 1.62,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 1016,
   'humidity': 83,
   'temp_kf': 0},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': {'all': 5},
  'wind': {'speed': 3.65, 'deg': 149, 'gust': 7.53},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2025-02-02 09:00:00'},
 {'dt': 1738497600,
  'main': {'temp': 3.2,
   'feels_like': -0.05,
   'temp_min': 3.2,
   'temp_max': 6.35,
   'pressure': 1021,
   'sea_level': 1021,
   'grnd_level': 1017,
   'humidity': 77,
   'temp_kf': -3.15},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': {'all': 5},
  'wind': {'speed': 3.53, 'deg': 169, 'gust': 4.71},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2025-02-02 12:00:00'},
 {'dt': 1738508400,
  'main': {'temp': 5.79,
   'feels_like': 4.02,
   'temp_min': 5.79,
   'temp_max': 7.87,
   'pressure': 1022,
   'sea_level': 1022,
   'grnd_level': 1017,
   'humidity': 69,
   'temp_kf': -2.08},
  'weather': [{'id': 800,
    'main': 'Clear',
    'description': 'clear sky',
    'icon': '01d'}],
  'clouds': {'all': 2},
  'wind': {'speed': 2.28, 'deg': 185, 'gust': 3.03},
  'visibility': 10000,
  'pop': 0,
  'sys': {'pod': 'd'},
  'dt_txt': '2025-02-02 15:00:00'}]

In [71]:
meteo_forecaste = []
for i in range(len(r.json())):
    meteo_forecaste.append(r.json()['list'][i]['weather'][0]['main'])

meteo_forecaste = pd.Series(meteo_forecaste)
print(meteo_forecaste)
mean_meteo = meteo_forecaste.value_counts().idxmax()
print('Average weather will be:', mean_meteo)

humidity_forecaste = []
temp_forecaste = []
for i in range(len(r.json())):
    humidity_forecaste.append(r.json()['list'][i]['main']['humidity'])
    temp_forecaste.append(r.json()['list'][i]['main']['temp'])

humidity_forecaste = pd.Series(humidity_forecaste)
temp_forecaste = pd.Series(temp_forecaste)
display(humidity_forecaste)
display(temp_forecaste)

mean_humidity = humidity_forecaste.mean()
mean_temp = temp_forecaste.mean()

print('mean humidity:', mean_humidity, '; mean temperature:', mean_temp)

0    Clouds
1    Clouds
2     Clear
3     Clear
4     Clear
dtype: object
Average weather will be: Clear

0    81
1    85
2    90
3    90
4    89
dtype: int64

0    4.98
1    3.80
2    2.16
3    0.95
4    0.09
dtype: float64

mean humidity: 87.0 ; mean temperature: 2.396

Now we saw that we can have mean humidity, mean temperature and average weather for the forecaste of 5 days for one location. So we will loop this to obtain all these informations for each city.

In [82]:
df_weather = pd.DataFrame( columns = ["City", "Weather", "Humidity", "Temperature"])
display(df_weather)

value1 = 'Janz√©'
value2 = 'Cloud'
value3 = 4.25
value4 =18

df_weather.loc[0] = [value1, value2, value3, value4]

display(df_weather)

Empty DataFrame
Columns: [City, Weather, Humidity, Temperature]
Index: []

    City Weather  Humidity  Temperature
0  Janz√©   Cloud      4.25           18

In [83]:
df_cities = pd.read_csv("cities_localisation.csv")

df_weather = pd.DataFrame( columns = ["City", "Weather", "Humidity", "Temperature"])

for i in range(len(cities_list)):
    lat = df_cities['Latitude'][i]
    lon = df_cities['Longitude'][i]

    url = "https://api.openweathermap.org/data/2.5/forecast?lat={}&lon={}&appid={}&units=metric".format(lat, lon, weather_api_key) #for 5 days forecast
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
    r = requests.get(url, headers=headers)

    meteo_forecaste = []
    for weather_description in range(len(r.json())):
        meteo_forecaste.append(r.json()['list'][weather_description]['weather'][0]['main'])

    meteo_forecaste = pd.Series(meteo_forecaste)
    mean_meteo = meteo_forecaste.value_counts().idxmax()

    humidity_forecaste = []
    temp_forecaste = []
    for hum_temp in range(len(r.json())):
        humidity_forecaste.append(r.json()['list'][hum_temp]['main']['humidity'])
        temp_forecaste.append(r.json()['list'][hum_temp]['main']['temp'])

    humidity_forecaste = pd.Series(humidity_forecaste)
    temp_forecaste = pd.Series(temp_forecaste)
    

    mean_humidity = humidity_forecaste.mean()
    mean_temp = temp_forecaste.mean()

    df_weather.loc[i] = [df_cities['Name'][i], mean_meteo, mean_humidity, mean_temp]

    print("{} city weather informations collected".format(i+1), r)

1 city weather informations collected <Response [200]>
2 city weather informations collected <Response [200]>
3 city weather informations collected <Response [200]>
4 city weather informations collected <Response [200]>
5 city weather informations collected <Response [200]>
6 city weather informations collected <Response [200]>
7 city weather informations collected <Response [200]>
8 city weather informations collected <Response [200]>
9 city weather informations collected <Response [200]>
10 city weather informations collected <Response [200]>
11 city weather informations collected <Response [200]>
12 city weather informations collected <Response [200]>
13 city weather informations collected <Response [200]>
14 city weather informations collected <Response [200]>
15 city weather informations collected <Response [200]>
16 city weather informations collected <Response [200]>
17 city weather informations collected <Response [200]>
18 city weather informations collected <Response [200]>
19 city weather informations collected <Response [200]>
20 city weather informations collected <Response [200]>
21 city weather informations collected <Response [200]>
22 city weather informations collected <Response [200]>
23 city weather informations collected <Response [200]>
24 city weather informations collected <Response [200]>
25 city weather informations collected <Response [200]>
26 city weather informations collected <Response [200]>
27 city weather informations collected <Response [200]>
28 city weather informations collected <Response [200]>
29 city weather informations collected <Response [200]>
30 city weather informations collected <Response [200]>
31 city weather informations collected <Response [200]>
32 city weather informations collected <Response [200]>
33 city weather informations collected <Response [200]>
34 city weather informations collected <Response [200]>
35 city weather informations collected <Response [200]>

In [84]:
df_weather.head()

                City Weather  Humidity  Temperature
0  Mont Saint-Michel   Clear      87.0        2.396
1         Saint-Malo  Clouds      85.4        3.996
2             Bayeux   Clear      84.6        2.016
3           Le Havre   Clear      76.2        4.318
4              Rouen   Clear      82.8        1.982

In [86]:
df_weather.to_csv("cities_weather.csv", index=False, encoding="utf-8")
df_weather.to_json("city_weather.json", orient="records", indent=4)

In [87]:
df_weather_2 = pd.read_json("city_weather.json")
display(df_weather_2.head())

df_weather_3 = pd.read_csv("cities_weather.csv")
df_weather_3.head()

                City Weather  Humidity  Temperature
0  Mont Saint-Michel   Clear      87.0        2.396
1         Saint-Malo  Clouds      85.4        3.996
2             Bayeux   Clear      84.6        2.016
3           Le Havre   Clear      76.2        4.318
4              Rouen   Clear      82.8        1.982

                City Weather  Humidity  Temperature
0  Mont Saint-Michel   Clear      87.0        2.396
1         Saint-Malo  Clouds      85.4        3.996
2             Bayeux   Clear      84.6        2.016
3           Le Havre   Clear      76.2        4.318
4              Rouen   Clear      82.8        1.982

So we completed this part and obtained a csv and json file with the city's name associated to the mean weather, humidity and temperature for the next 5 days.  
‚ö†Ô∏è It was done the 1srt of February, so the meteo data is not very good for any place in France.

# Part 2 - Get the hotels infos with the web scraping

The web scraping will be done on Booking https://www.booking.com/index.fr.html

Informations to scrape:
*   hotel name,
*   Url to its booking.com page,
*   Its coordinates: latitude and longitude
*   Score given by the website users
*   Text description of the hotel
*   Address

Here we will do the testing phase for scraping. When it will be done we will loop it in a spider file (.py file) and store all the data in json files.

1st step : loop for each city the scraping to get the url page for each hotel. Collect all in multiples json files, 1 per city.  

2nd step : loop for each page to get the infos for the hotels, and collect all the data in a json file for each city.

In [110]:
import requests
from scrapy import Selector

#url for test for hotels at Mont Saint Michel
#https://www.booking.com/searchresults.fr.html?label=gen173nr-1FCAEoggI46AdIDVgEaE2IAQGYAQ24ARfIAQ_YAQHoAQH4AQKIAgGoAgO4AsjX_LwGwAIB0gIkNDRhYWMwM2EtMTM2ZS00MGRjLWE3ZTktNjU0NWM2MzJhNGIz2AIF4AIB&aid=304142&ss=Le+Mont-Saint-Michel%C+France&efdco=1&lang=fr&src=index&dest_id=900039327&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=fr&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=d4b23b24d4940325&checkin=2025-02-02&checkout=2025-02-09&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

url = "https://www.booking.com/searchresults.fr.html?label=gen173nr-1FCAEoggI46AdIDVgEaE2IAQGYAQ24ARfIAQ_YAQHoAQH4AQKIAgGoAgO4AsjX_LwGwAIB0gIkNDRhYWMwM2EtMTM2ZS00MGRjLWE3ZTktNjU0NWM2MzJhNGIz2AIF4AIB&aid=304142&ss=Le+Mont-Saint-Michel%C+France&efdco=1&lang=fr&src=index&dest_id=900039327&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=fr&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=d4b23b24d4940325&checkin=2025-02-02&checkout=2025-02-09&group_adults=2&no_rooms=1&group_children=0&nflt=ht_id%3D204"
r = requests.get(url, headers=headers)

response = Selector(text=r.text)
response

In [113]:
hotel_url = response.css("a[class='a78ca197d0']").attrib["href"]

In [114]:
hotel_url

'https://www.booking.com/hotel/fr/hotel-saint-aubert.fr.html?label=gen173nr-1FCAEoggI46AdIDVgEaE2IAQGYAQ24ARfIAQ_YAQHoAQH4AQKIAgGoAgO4AsjX_LwGwAIB0gIkNDRhYWMwM2EtMTM2ZS00MGRjLWE3ZTktNjU0NWM2MzJhNGIz2AIF4AIB&aid=304142&ucfs=1&arphpl=1&checkin=2025-02-02&checkout=2025-02-09&dest_id=900039327&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=2&hapos=2&sr_order=popularity&nflt=ht_id%3D204&srpvid=916b42ff1a7605b5&srepoch=1738488703&all_sr_blocks=23081103_347524575_0_2_0&highlighted_blocks=23081103_347524575_0_2_0&matching_block_id=23081103_347524575_0_2_0&sr_pri_blocks=23081103_347524575_0_2_0__93120&from=searchresults'

It works üëç!

Now see for the 2nd step with hotel info.

In [121]:
import requests
from scrapy import Selector

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
}

url = hotel_url
r = requests.get(url, headers=headers)

response = Selector(text=r.text)
response

In [146]:
hotel_name = response.css("h2[class='d2fee87262 pp-header__title']::text").get()
url_hotel = url
hotel_coordinates = response.css("a[id='map_trigger_header']::attr(data-atlas-latlng)").get()
score = response.css("div[class='a3b8729ab1 d86cee9b25']::text").get().replace(',', '.')
text_description = response.css("p[class='a53cbfa6de b3efd73f69']::text").get()
address = response.css("div[class='a53cbfa6de f17adf7576']::text").get()

In [123]:
hotel_name

'Le Saint Aubert'

In [124]:
url_hotel

'https://www.booking.com/hotel/fr/hotel-saint-aubert.fr.html?label=gen173nr-1FCAEoggI46AdIDVgEaE2IAQGYAQ24ARfIAQ_YAQHoAQH4AQKIAgGoAgO4AsjX_LwGwAIB0gIkNDRhYWMwM2EtMTM2ZS00MGRjLWE3ZTktNjU0NWM2MzJhNGIz2AIF4AIB&aid=304142&ucfs=1&arphpl=1&checkin=2025-02-02&checkout=2025-02-09&dest_id=900039327&dest_type=city&group_adults=2&req_adults=2&no_rooms=1&group_children=0&req_children=0&hpos=2&hapos=2&sr_order=popularity&nflt=ht_id%3D204&srpvid=916b42ff1a7605b5&srepoch=1738488703&all_sr_blocks=23081103_347524575_0_2_0&highlighted_blocks=23081103_347524575_0_2_0&matching_block_id=23081103_347524575_0_2_0&sr_pri_blocks=23081103_347524575_0_2_0__93120&from=searchresults'

In [125]:
hotel_coordinates

'48.612937834706464,-1.5101051330566406'

In [141]:
score

'7.7'

In [145]:
text_description

"Nich√© dans un √©crin de verdure, √† seulement 2 km du Mont-Saint-Michel, Le Saint Aubert vous accueille dans un cadre chaleureux et convivial.\n\nCet √©tablissement vous propose des chambres paisibles et confortables entour√©es de jardins fleuris.\n\nApr√®s une journ√©e de d√©couverte du Mont-Saint-Michel, vous pourrez d√©guster une d√©licieuse cuisine r√©gionale dans le cadre pittoresque d'une ancienne ferme.\n\nLe personnel serviable sera heureux de vous recommander un grand nombre de sites d'int√©r√™t et les visites √† faire dans la r√©gion."

In [147]:
address

'La Caserne, 50170 Le Mont-Saint-Michel, France'

Now, see the loo for scrping in the 2 .py files in the folder.